header.navigation_block
  nav.nav_links_set
    a.nav_link(href='#home')='home'
    a.nav_link(href='#about')='about'
    a.nav_link(href='#projects')='projects'
    a.nav_link(href='#skills')='skills'
    a.nav_link(href='#contacts')='contacts'