nav.navigation_block
  ul.nav_links_set
    li.nav_link.active_link
      a(href='#home')='home'
    li.nav_link.inactive_link
      a(href='#about')='about'
    li.nav_link.inactive_link
      a(href='#projects')='projects'
    li.nav_link.inactive_link
      a(href='#skills')='skills'
    li.nav_link.inactive_link
      a(href='#contacts')='contacts'