header.header_block.container
  .logo_block
    span.logo_image='LOGO IMAGE'
  nav.navigation_block
    span.hamburger_logo
      span.line
      span.line
      span.line
    ul.nav_links_set
      li.nav_link
        a(href='#home')='home'
      li.nav_link
        a(href='#about')='about'
      li.nav_link
        a(href='#projects')='projects'
      li.nav_link
        a(href='#contacts')='contacts'