mixin project_card(title, imageSrc, description, web_link, git_link, sills_used)
  .project_block__project_item
    .project_block_image_wrapper
      img(class='project_item__image' src='' data-src=imageSrc alt=title)
    .project_block_details
      p.project_item_title=title
    p.project_item_description=description
    .project_item__hover_info
      ul.skills_used_list
        for skill in sills_used
          li=skill
      a.web_page_link(href=web_link target='blank')='Visit web-page'
      a.repo_link(href=git_link target='blank')
        include ../assets/imgs/github-logo.svg

mixin skills_set(title, skills)
  .skill_block
    p='Programs and utilities'
    ul.skills_list
      for skill in skills
        li=skill