section.about_page.content-wrapper
  .top_anchor
  h2.section_title='Let me tell you something about me'
  .about_content
    .about_content__general_info
      img.avatar(src='' data-src='./imgs/avatar.jpg' alt='personal_avatar')
      ul.general_info__list
        li
          span='Name:'
          span='Vladislav'
        li
          span='Age:'
          span='25'
    .about_content__description
      P
        | Programming allows me create lots of
        span="awesome"
        | stuff. 
        | That's why I love creating
        span="Front-end"
        | for websites. This is the thing that attracts customers. 
        | In the meantime I am looking for
        span="starting"
        | positions to become part of a cool team and great teammate myself. 
        | Go ahead and try my
        span="projects,"
        | they will tell you more than just sweet words.
  .bottom_anchor