section.about_page.clear_page
  div.description_block
    p='Let me tell you something about me.'
    p='My name is Vladislav'
    P='Programming allows me create lots of awesome stuff.'
    p="That's why I love creating Front-end for websites."
    P='This is the thing that attracts customers.'
    p='In the meantime I am looking for starting positions to become part of a cool team and great teammate myself.'
    p='Go ahead and try my projects. They will tell you more than just sweet words.'
  include ../../assets/imgs/3d-object.svg