section.contacts_page
  .top_anchor
  h2.section_title='Contact form'
  form.contact_form
    .contact_form__name_field
      label(for='name')='Enter your name'
      input(name='name' id='name' required=true)
    .contact_form__email_field
      label(for='email')='Enter your email'
      input( name='email' id='email')
    .contact_form__message_field
      label(for='message')='Message for me'
      textarea( id='message' name='message' required=true)
    .submit_block
      span.submit_block__results
      button(type='submit')='Send'
  .socials
    p.socials__title='Also you can easily contact me via social networks'
    ul.socials__links_list
      li
        a(href='https://github.com/juniorsdiary' target='blank')='GitHub'
      li
        a(href='https://discord.gg/TP7Q7mS' target='blank')='Discord'
      li
        a(href='' target='blank')='LinkedIn'
    .bottom_anchor
