section.content-wrapper.home.paint_page_0
  div.anchor
    include hello.svg
  p.description="To see what'is going on here"
  p.description="choose any tab below"
  ul.options
    li='Want to know more about me ?'
    li='Maybe you just want to know my code and projects.'
    li='Okay, here you can see all my skills.'
    li='In case You have interest in me you can contact me easily.'
