section.projects.page.clear_page_2
    .project_block
        .project_block__project_item
            .project_item__image-1
            .project_item-1__name='Marvel Api Database'
            .project_item__links
                a(href='https://marver-api-database.helloeva.now.sh/' target='blank')='Web-page'
                a.repo_link(href='https://github.com/HelloEVA-94/Marvel-API-DataBase' target='blank')
        .project_block__project_item
            .project_item__image-2
            .project_item-1__name='CitHub Api Search'
            .project_item__links
                a(href='https://githubapisearch.helloeva.now.sh/' target='blank')='Web-page'
                a.repo_link(href='https://github.com/HelloEVA-94/GitHub_Api_Search' target='blank')
        .project_block__project_item
            .project_item__image-3
            .project_item-1__name='MVC 3D Tetris'
            .project_item__links
                a(href='https://mvc-3dtetris.helloeva.now.sh' target='blank')='Web-page'
                a.repo_link(href='https://github.com/HelloEVA-94/MVC-3D_TETRIS' target='blank')
        .project_block__project_item
            .project_item__image-4
            .project_item-1__name='Durak Online'
            .project_item__links
                a(href='https://durak-online.herokuapp.com/' target='blank')='Web-page'
                a.repo_link(href='https://github.com/HelloEVA-94/Durak_Online_Game' target='blank')