- var every_day = [ 'HTML5 + Pug', 'CSS3 + SASS', 'JavaScript', 'Webpack', 'PostCSS', 'ESlint', 'Prettier', 'Stylelint', 'React', 'Redux', 'Router', 'Material UI', 'Styled Components'];
- var basics = ['Node.js','Express', 'MongoDB', 'Socket.io', 'RESTful API', 'Jest+enzyme testing'];
- var in_progress = ['Algorithms', 'Data structures', 'OOP/design patterns'];
- var programs = ['Visual Studio Code', 'curl CLI', 'ConEmu', 'Adobe XD', 'Figma'];
section.skills_page
  div.skills_block
    ul.skills_basic_stack='Tools for every day'
      for skill in every_day
        li=skill
    ul.skills_other_skills='Basic knowledge'
      for skill in basics
        li=skill
    ul.skills_high_priority_skills='Studying now'
      for skill in in_progress
        li=skill
    ul.skills_programs='Programs and utilities'
      for skill in programs
        li=skill  