section.skills.page.paint_page_3
  div.skills_block
    ul.skills_basic_stack='Tools for every day'
      li='HTML5 + Pug'
      li='CSS3 + SCSS'
      li='JavaScript'
      li='Webpack'
      li='PostCSS'
      li='ESlint + Prettier  + Stylelint'
      li='React + Redux + Router'
      li='Material UI'
      li='Styled Components'
    ul.skills_other_skills='Used for educational purposes'
      li='Node.js'
      li='Express'
      li='MongoDB'
      li='Socket.io'
      li='RESTful API'
      li='Jest+enzyme testing'
    ul.skills_high_priority_skills='Studying now'
      li='Algorithms'
      li='Data structures'
      li='OOP/design patterns'
    ul.skills_programs='Programs and utilities'
      li='Visual Studio Code'
      li='curl CLI'
      li='ConEmu'
      li='Adobe XD'
      li='Figma'
